$font-stack-Roboto: "Roboto", "sans-serif";
$font-stack-Chakra: "Chakra Petch", "sans-serif";

$primary-color: #e1faff;
$primary-color-dark: #cfcf27;

$primary-background-color-dark:  #0f1227;
$primary-background-color-red: #160000;
$primary-background-color: #1960fa;//rgb(0, 206, 103);


$primary-btn-text: rgb(0, 255, 136);
$primary-btn-text-dark: rgb(153, 0, 255);
// $header-background: linear-gradient(0deg, rgba(15,18,39,1) 0%, rgb(40, 73, 73) 100%);
$header-background: rgb(39, 24, 49, 0.3);
$footer-background: linear-gradient(0deg, rgb(40, 73, 73) 0%, rgba(15,18,39,1) 100%);

$body-padding: 5rem;